@import url(https://fonts.googleapis.com/css?family=Patrick+Hand:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kalam:regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Kalam;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Kalam;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: radial-gradient(circle,#ff4500,orange)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  position: relative;
  font-weight: 600;
  background-color: #ff4500;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  transition: background-color .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,background-color .3s ease;
  transition: transform .3s ease,background-color .3s ease,-webkit-transform .3s ease
}
.button:hover {
  background-color: #ff7000;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.button__text {
  position: relative;
  z-index: 5
}
.button__bubble {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-animation: bubble 2s infinite;
  animation: bubble 2s infinite
}
.button__bubble:nth-child(1) {
  top: 10%;
  left: 10%;
  width: 12px;
  height: 12px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.button__bubble:nth-child(2) {
  top: 10%;
  right: 10%;
  width: 14px;
  height: 14px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}
.button__bubble:nth-child(3) {
  bottom: 10%;
  left: 10%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}
.button__bubble:nth-child(4) {
  bottom: 10%;
  right: 10%;
  width: 16px;
  height: 16px;
  -webkit-animation-delay: .9s;
  animation-delay: .9s
}
.button__bubble:nth-child(5) {
  top: 40%;
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.button__bubble:nth-child(6) {
  top: 30%;
  right: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}
@-webkit-keyframes bubble {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(1.5);
    transform: translateY(-50px) scale(1.5)
  }
}
@keyframes bubble {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px) scale(1.5);
    transform: translateY(-50px) scale(1.5)
  }
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Patrick Hand",sans-serif;
  line-height: 1.3
}
.subtitle {
  line-height: 1.3;
  text-align: center
}
.text {
  line-height: 1.3
}
@-webkit-keyframes rotate-card {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg)
  }
}
@keyframes rotate-card {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg)
  }
}
@-webkit-keyframes move {
  0%,
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  50% {
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px)
  }
}
@keyframes move {
  0%,
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  50% {
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px)
  }
}
@-webkit-keyframes typewriter {
  0% {
    width: 0;
    opacity: 0
  }
  100% {
    width: 100%;
    opacity: 1
  }
}
@keyframes typewriter {
  0% {
    width: 0;
    opacity: 0
  }
  100% {
    width: 100%;
    opacity: 1
  }
}
@-webkit-keyframes move-bottom-arrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 30px
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    height: 35px
  }
}
@keyframes move-bottom-arrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 30px
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    height: 35px
  }
}
@-webkit-keyframes running-text {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes running-text {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    top: 10%;
    left: 10%
  }
  25% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    top: 20%;
    left: 30%
  }
  50% {
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
    top: 50%;
    left: 60%
  }
  75% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    top: 30%;
    left: 80%
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    top: 10%;
    left: 10%
  }
}
@keyframes fly {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    top: 10%;
    left: 10%
  }
  25% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    top: 20%;
    left: 30%
  }
  50% {
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
    top: 50%;
    left: 60%
  }
  75% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    top: 30%;
    left: 80%
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    top: 10%;
    left: 10%
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0)
  }
  50% {
    -webkit-transform: translateY(-30px) rotate(15deg);
    transform: translateY(-30px) rotate(15deg)
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0)
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0)
  }
  50% {
    -webkit-transform: translateY(-30px) rotate(15deg);
    transform: translateY(-30px) rotate(15deg)
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0)
  }
}
.floating {
  position: fixed;
  opacity: .7;
  z-index: -1;
  aspect-ratio: 1;
  -webkit-animation: float 5s infinite ease-in-out;
  animation: float 5s infinite ease-in-out
}
.floating img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.orange {
  top: 10%;
  left: 10%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.orange2 {
  top: 50%;
  left: 70%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}
.flying-fairy {
  z-index: -1;
  position: fixed;
  aspect-ratio: 1;
  -webkit-animation: fly 8s infinite ease-in-out;
  animation: fly 8s infinite ease-in-out
}
.flying-fairy img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.static {
  z-index: -1;
  position: fixed;
  aspect-ratio: 1
}
.static img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.superhero {
  bottom: 0;
  left: 0
}
.redhead {
  bottom: -3%;
  right: 0
}
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: all .3s
}
.header._header-scroll {
  height: 100%;
  width: 100%;
  background-color: #d83300
}
.header__running-text {
  font-family: "Patrick Hand",sans-serif;
  font-size: 1.5rem;
  background-color: #d83300;
  overflow: hidden;
  font-weight: 600;
  position: relative;
  z-index: 55
}
.header__running-text div {
  display: flex;
  gap: 20px
}
.header__running-text p {
  flex-shrink: 0;
  padding: 5px;
  min-width: 100%;
  white-space: nowrap;
  -webkit-animation-name: running-text;
  animation-name: running-text;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.header__running-text p::after,
.header__running-text p::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-inline: 10px;
  background: url(../img/icons/beard_icon.webp) center/100% no-repeat
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-block: 10px
}
.header__logo {
  position: relative;
  z-index: 55
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 55
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  row-gap: 5px
}
.menu__link {
  font-weight: 500;
  transition: color .3s
}
.icon-menu {
  display: none
}
.menu-open body {
  overflow: hidden
}
#phrase {
  font-size: 24px;
  text-align: center;
  color: rgba(81,0,12,.7568627451)
}
.footer {
  background-color: rgba(145,80,0,.4549019608)
}
.footer__title {
  text-align: center;
  line-height: 1.5;
  font-weight: 700
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  max-width: 800px;
  margin-inline: auto
}
.footer__social-media {
  display: flex;
  align-items: center;
  gap: .625rem
}
.footer__social-media svg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  transition: all .3s
}
.footer__disclaimer {
  text-align: center
}
.hero__title {
  font-family: "Patrick Hand",sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5
}
.hero__intro-text {
  font-family: "Patrick Hand",sans-serif;
  text-align: center
}
.hero__action {
  display: flex;
  align-items: center;
  flex-direction: column
}
.hero__action:not(:last-child) {
  -webkit-margin-after: 30px;
  margin-block-end: 30px
}
.hero__join-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: .625rem;
  min-height: 70px
}
.hero__join-us::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  background: url(../img/icons/arrow_bottom.svg) center/20px no-repeat;
  -webkit-animation: move-bottom-arrow 3s infinite;
  animation: move-bottom-arrow 3s infinite
}
.hero__body {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-inline: auto
}
.about-sam__content {
  text-align: center;
  flex: 1 0 34%;
  display: flex;
  flex-direction: column
}
.about-sam__button {
  max-width: 250px;
  margin-inline: auto
}
.about-sam__card {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  aspect-ratio: 1;
  max-width: 290px;
  width: 100%;
  cursor: pointer;
  -webkit-animation: flip-card 3s infinite linear;
  animation: flip-card 3s infinite linear
}
.about-sam__inner-card {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s;
  -webkit-animation: rotate-card 6s infinite linear;
  animation: rotate-card 6s infinite linear
}
.about-sam__front-card {
  box-shadow: 0 4px 6px rgba(0,0,0,.1)
}
.about-sam__back-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.about-sam__back-card,
.about-sam__front-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden
}
.about-sam__back-card img,
.about-sam__front-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.sponsor__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin-inline: auto
}
.sponsor__item {
  flex: 1 0 34%;
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.sponsor__img {
  position: relative;
  max-width: 290px;
  width: 100%;
  margin-inline: auto;
  aspect-ratio: 1/1.2;
  border-radius: 8px;
  overflow: hidden
}
.sponsor__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.sponsor__button {
  max-width: 300px;
  margin-inline: auto
}
.fizz-way__text {
  max-width: 700px;
  margin-inline: auto;
  text-align: center
}
.fizz-way__text span {
  font-size: 24px;
  color: #f11050;
  font-weight: 700;
  text-shadow: 1px 1px 15px #fff
}
.fizz-way__path {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
  grid-template-rows: 2;
  gap: 20px
}
.fizz-way__step {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease,visibility .5s ease
}
.fizz-way__step.active {
  opacity: 1;
  visibility: visible
}
.fizz-way__img-step {
  flex: 1 0 30%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden
}
.fizz-way__img-step img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.next-btn {
  padding: 10px 20px;
  font-size: 24px;
  background: linear-gradient(45deg,#8b0000,#f11050);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite
}
.next-btn span {
  display: inline-block
}
.next-btn:active {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  box-shadow: 0 4px 8px rgba(0,0,0,.2)
}
.next-btn:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,.4)
}
.next-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.3);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  transition: all .5s ease-in-out
}
.next-btn:hover::before {
  left: 100%
}
.easter-egg {
  grid-column: span 3;
  padding: 15px;
  background-color: #f9e79f;
  border: 1px solid #f5c242;
  border-radius: 8px;
  display: none;
  text-align: center
}
.easter-egg p {
  font-weight: 700;
  color: #2d3436
}
.easter-egg {
  display: none
}
.easter-egg.hidden {
  display: none
}
.easter-egg:not(.hidden) {
  display: block
}
#game-container {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: #87ceeb;
  position: relative;
  overflow: hidden
}
#sun {
  aspect-ratio: 1;
  background-color: #ff0;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 50px 10px #ff0
}
#character {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.cursor {
  aspect-ratio: 1;
  z-index: 10000;
  background-image: url(../img/game/sunscreen.webp);
  background-size: cover;
  position: absolute;
  pointer-events: none
}
.famous__text {
  max-width: 700px;
  text-align: center;
  margin-inline: auto
}
.quiz {
  font-family: "Patrick Hand",sans-serif;
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  text-align: center;
  background: url(../img/famous/background_2.webp) 0 0/cover no-repeat;
  background-attachment: fixed
}
.quiz__image {
  max-width: 290px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden
}
.quiz__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.quiz__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  text-align: center
}
.quiz__input {
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #8b0000;
  outline: 0;
  color: #8b0000
}
.quiz__input::-webkit-input-placeholder {
  color: #8b0000
}
.quiz__input:-ms-input-placeholder {
  color: #8b0000
}
.quiz__input::-ms-input-placeholder {
  color: #8b0000
}
.quiz__input::placeholder {
  color: #8b0000
}
.quiz__button {
  border-radius: 8px;
  padding: 10px 30px;
  width: 100%;
  color: #fff;
  background: linear-gradient(45deg,#5bc0de,#0056b3);
  box-shadow: 0 0 5px rgba(255,255,255,.3) inset;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.quiz__button--submit {
  background: linear-gradient(45deg,#a8eb12,#007f00)
}
.quiz__button:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px)
}
.quiz__result {
  color: #333
}
.quiz__feedback {
  color: #333
}
.quiz__hint {
  color: #333
}
.quiz__progress {
  color: #333
}
.quiz__count {
  color: #333
}
.quiz__final p:not(:last-child) {
  -webkit-margin-after: 15px;
  margin-block-end: 15px
}
.did-you-know__facts {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
}
.did-you-know__fact-card {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  min-height: 200px;
  cursor: pointer
}
.did-you-know__fact-card:hover .did-you-know__card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.did-you-know__card-inner {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.did-you-know__card-front {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,.1)
}
.did-you-know__fact-title {
  text-align: center;
  font-size: 1.5rem;
  color: #ff5722
}
.did-you-know__card-back {
  background: #ff5722;
  color: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.did-you-know__card-back,
.did-you-know__card-front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px
}
.did-you-know__fact-text {
  font-size: 1rem;
  color: #fff;
  text-align: center
}
.story-generator__container {
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  flex-direction: column
}
.story-generator__text {
  text-align: center
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(183,0,0,.7) inset
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px
}
.form__label {
  color: #ff5722
}
.form__input {
  padding: 10px;
  border: 3px solid #ff5722;
  border-radius: 8px;
  outline: 0;
  color: #00595c
}
.form__input:focus-visible {
  border: 3px solid #ff9e80
}
.form__input::-webkit-input-placeholder {
  color: #00595c
}
.form__input:-ms-input-placeholder {
  color: #00595c
}
.form__input::-ms-input-placeholder {
  color: #00595c
}
.form__input::placeholder {
  color: #00595c
}
.form__upload-label {
  display: inline-flex;
  align-items: center;
  max-width: 350px;
  padding: 15px 30px;
  color: #ff5722;
  border-radius: 50px;
  border: 3px solid #ff5722;
  text-align: center;
  transition: border-color .3s
}
.form__upload-label::before {
  content: "";
  width: 30px;
  aspect-ratio: 1;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  background: url(../img/icons/upload_icon.svg) center/contain no-repeat
}
.form__upload-label:focus-visible {
  border: 3px solid #ff9e80
}
.form__upload {
  display: none
}
.form__button {
  max-width: 300px;
  margin-inline: auto;
  outline: 0
}
.form__button:focus-visible {
  border: 3px solid #ff9e80
}
#story-preview {
  text-align: center
}
#story-preview h4:not(:last-child) {
  -webkit-margin-after: 15px;
  margin-block-end: 15px
}
#story-preview p:not(:last-child) {
  -webkit-margin-after: 15px;
  margin-block-end: 15px
}
#story-photo {
  display: none;
  margin-inline: auto;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 300/400
}
#story-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media (min-width:41.31125em) {
  .footer__button--join-us {
    flex: 0 1 225px
  }
}
@media (min-width:47.99875em) {
  .about-sam__card {
    max-width: 350px
  }
  .sponsor__img {
    max-width: 350px
  }
}
@media (min-width:75em) {
  .title {
    font-size: 3rem
  }
  .subtitle {
    font-size: 1.875rem
  }
  .floating {
    width: 18.75rem
  }
  .flying-fairy {
    width: 12.5rem
  }
  .static {
    width: 12.5rem
  }
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .footer {
    padding-block: 3.125rem
  }
  .footer__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .footer__body:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .page__hero {
    padding-block: 4.375rem
  }
  .page__sponsor {
    padding-block: 2.5rem
  }
  .page__fizz-way {
    padding-block: 4.375rem
  }
  .page__famous {
    padding-block: 4.375rem
  }
  .page__did-you-know {
    padding-block: 4.375rem
  }
  .page__story-generator {
    padding-block: 4.375rem
  }
  .hero__title {
    font-size: 3rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .hero__intro-text {
    font-size: 1.5rem
  }
  .hero__intro-text:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .hero__action {
    row-gap: 1.25rem
  }
  .hero__body {
    gap: 3.125rem
  }
  .about-sam__content {
    gap: 2.5rem
  }
  .sponsor__container {
    gap: 3.125rem
  }
  .fizz-way__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .fizz-way__text:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  #sun {
    width: 6.25rem
  }
  #character {
    width: 12.5rem
  }
  .cursor {
    width: 3.125rem
  }
  .famous__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .famous__text:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .quiz {
    font-size: 1.75rem
  }
  .quiz {
    padding: 3.125rem
  }
  .did-you-know__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .did-you-know__subtitle:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .did-you-know__facts {
    gap: 1.25rem
  }
  .story-generator__container {
    row-gap: 1.875rem
  }
  #story-preview h4 {
    font-size: 2.125rem
  }
}
@media (max-width:992.98px) {
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 5;
    overflow: auto;
    padding: 150px 15px 30px 15px;
    background-color: #d83300;
    transition: inset-inline-start .3s ease
  }
  .menu-open .menu__body {
    inset-inline-start: 0
  }
  .menu__body::before {
    content: "";
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100px;
    z-index: 4;
    background-color: #d83300;
    transition: inset-inline-start .3s ease
  }
  .menu-open .menu__body::before {
    inset-inline-start: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    row-gap: 40px
  }
  .menu__link {
    font-size: 28px
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 50;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,.3);
    transition: all .3s
  }
  .icon-menu span,
  .icon-menu span::after,
  .icon-menu span::before {
    content: "";
    left: 12px;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s ease 0s
  }
  .icon-menu span::before {
    left: 0;
    top: -4px
  }
  .icon-menu span::after {
    left: 0;
    bottom: -4px
  }
  .icon-menu span {
    top: calc(50% - 1px)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu span::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu span::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:992.98px)and (any-hover:hover) {
  .icon-menu:hover {
    box-shadow: 0 0 5px rgba(255,68,0,.9843137255)
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2rem
  }
  .subtitle {
    font-size: 1.5rem
  }
  .floating {
    width: 6.25rem
  }
  .flying-fairy {
    width: 6.25rem
  }
  .static {
    width: 6.25rem
  }
  .footer {
    padding-block: 1.25rem
  }
  .footer__title:not(:last-child) {
    -webkit-margin-after: .625rem;
    margin-block-end: .625rem
  }
  .footer__body:not(:last-child) {
    -webkit-margin-after: .625rem;
    margin-block-end: .625rem
  }
  .page__hero {
    padding-block: 2.5rem
  }
  .page__sponsor {
    padding-block: 1.25rem
  }
  .page__fizz-way {
    padding-block: 2.5rem
  }
  .page__famous {
    padding-block: 2.5rem
  }
  .page__did-you-know {
    padding-block: 2.5rem
  }
  .page__story-generator {
    padding-block: 2.5rem
  }
  .hero__title {
    font-size: 1.875rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .hero__intro-text {
    font-size: 1.125rem
  }
  .hero__intro-text:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .hero__action {
    row-gap: .9375rem
  }
  .hero__body {
    gap: 1.875rem
  }
  .about-sam__content {
    gap: .9375rem
  }
  .sponsor__container {
    gap: 1.875rem
  }
  .fizz-way__title:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .fizz-way__text:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  #sun {
    width: 4.375rem
  }
  #character {
    width: 8.125rem
  }
  .cursor {
    width: 1.875rem
  }
  .famous__title:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .famous__text:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .quiz {
    font-size: 1.25rem
  }
  .quiz {
    padding: .9375rem
  }
  .did-you-know__title:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .did-you-know__subtitle:not(:last-child) {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .did-you-know__facts {
    gap: .9375rem
  }
  .story-generator__container {
    row-gap: .9375rem
  }
  #story-preview h4 {
    font-size: 1.125rem
  }
}
@media (max-width:68.75em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:58.74875em) {
  .easter-egg {
    grid-column: span 1
  }
}
@media (max-width:47.99875em) {
  .hero__body {
    flex-direction: column-reverse
  }
  .sponsor__container {
    flex-direction: column
  }
}
@media (max-width:41.31125em) {
  .footer__body {
    flex-direction: column;
    justify-content: center
  }
}
@media (max-width:39.37375em) {
  .fizz-way__step {
    flex-direction: column
  }
  .next-btn span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}
@media (min-width:20em)and (max-width:75em) {
  .title {
    font-size: clamp(2rem ,1.6363636364rem + 1.8181818182vw ,3rem)
  }
  .subtitle {
    font-size: clamp(1.5rem ,1.3636363636rem + .6818181818vw ,1.875rem)
  }
  .floating {
    width: clamp(6.25rem ,1.7045454545rem + 22.7272727273vw ,18.75rem)
  }
  .flying-fairy {
    width: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .static {
    width: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .footer {
    padding-block: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
  }
  .footer__title:not(:last-child) {
    -webkit-margin-after: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    margin-block-end: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem)
  }
  .footer__body:not(:last-child) {
    -webkit-margin-after: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    margin-block-end: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem)
  }
  .page__hero {
    padding-block: clamp(2.5rem ,1.8181818182rem + 3.4090909091vw ,4.375rem)
  }
  .page__sponsor {
    padding-block: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .page__fizz-way {
    padding-block: clamp(2.5rem ,1.8181818182rem + 3.4090909091vw ,4.375rem)
  }
  .page__famous {
    padding-block: clamp(2.5rem ,1.8181818182rem + 3.4090909091vw ,4.375rem)
  }
  .page__did-you-know {
    padding-block: clamp(2.5rem ,1.8181818182rem + 3.4090909091vw ,4.375rem)
  }
  .page__story-generator {
    padding-block: clamp(2.5rem ,1.8181818182rem + 3.4090909091vw ,4.375rem)
  }
  .hero__title {
    font-size: clamp(1.875rem ,1.4659090909rem + 2.0454545455vw ,3rem)
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .hero__intro-text {
    font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
  }
  .hero__intro-text:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .hero__action {
    row-gap: clamp(.9375rem ,.8238636364rem + .5681818182vw ,1.25rem)
  }
  .hero__body {
    gap: clamp(1.875rem ,1.4204545455rem + 2.2727272727vw ,3.125rem)
  }
  .about-sam__content {
    gap: clamp(.9375rem ,.3693181818rem + 2.8409090909vw ,2.5rem)
  }
  .sponsor__container {
    gap: clamp(1.875rem ,1.4204545455rem + 2.2727272727vw ,3.125rem)
  }
  .fizz-way__title:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .fizz-way__text:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  #sun {
    width: clamp(4.375rem ,3.6931818182rem + 3.4090909091vw ,6.25rem)
  }
  #character {
    width: clamp(8.125rem ,6.5340909091rem + 7.9545454545vw ,12.5rem)
  }
  .cursor {
    width: clamp(1.875rem ,1.4204545455rem + 2.2727272727vw ,3.125rem)
  }
  .famous__title:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .famous__text:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .quiz {
    font-size: clamp(1.25rem ,1.0681818182rem + .9090909091vw ,1.75rem)
  }
  .quiz {
    padding: clamp(.9375rem ,.1420454545rem + 3.9772727273vw ,3.125rem)
  }
  .did-you-know__title:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .did-you-know__subtitle:not(:last-child) {
    -webkit-margin-after: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .did-you-know__facts {
    gap: clamp(.9375rem ,.8238636364rem + .5681818182vw ,1.25rem)
  }
  .story-generator__container {
    row-gap: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  #story-preview h4 {
    font-size: clamp(1.125rem ,.7613636364rem + 1.8181818182vw ,2.125rem)
  }
}
@media (min-width:68.75em)and (max-width:75em) {
  .menu__list {
    -webkit-column-gap: clamp(1.25rem ,-19.375rem + 30vw ,3.125rem);
    -moz-column-gap: clamp(1.25rem ,-19.375rem + 30vw ,3.125rem);
    column-gap: clamp(1.25rem ,-19.375rem + 30vw ,3.125rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #ffe2d8
  }
  .footer__social-media svg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .form__upload-label:hover {
    border-color: #ff9e80
  }
}